<tr>
  <td><%= book.title %></td>
  <td><%= book.comment %></td>
  <td>
    <%= link_to 'Show', book_path(book) %>
    <%= link_to 'Edit', edit_book_path(book) %>
    <%= link_to 'Destroy', book_path(book), method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>